
@{
    ViewBag.Title = "About";
}
<br /><br />
<img src="@Url.Content("~/Content/Images/GuitarLogo.png")" style="height:80px; margin:5px; float:left">
<h1>Guitares Bazar</h1>
<br />
<hr />
<p style="font-size:x-large">
    Site de vente de guitares neuves et usagées. <br />
    Il a été conçu dans le cadre pédagogique du cours 420-KBG.
</p>
<hr />
<pre style="font-size:x-large">
    Auteur: Nicolas Chourot
    Email: <a href="Nicolas.Chourot@clg.qc.ca">Nicolas.Chourot@clg.qc.ca</a>
    Département d'Informatique
    Collège Linonel-Groulx
</pre>

